
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Images/EVGV-tp.png">
    <link rel="stylesheet" href="Fonts/Anurati/stylesheet.css">
    <link rel="stylesheet" href="Fonts/Mars-Bold/stylesheet.css">
    <link rel="stylesheet" href = "cars.css">
    <link rel="stylesheet" href="/mysite/vehicleemissions/templates/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>About Us</title>
</head>

<style>

customHeading
{
    font-family: customHeadingMars;
    font-weight: 400;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <customHeading>
                EVGV
            </customHeading>
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cars.html">
                    Cars
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus.html">
                    About Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About Us</h1>
          <p class="lead text-muted mb-0">We are a team of Software Engineers and <br>We want to make the world a better place</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Everyone in our team is a student at Wayne State University <br> We are all majoring in Computer Science</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media.licdn.com/dms/image/C5603AQEdj3XqyDmLOA/profile-displayphoto-shrink_400_400/0/1653257520739?e=1680739200&v=beta&t=yOcs3qRFO64eI7rNiHVFJd-zQKR9mRwveG-DiQWqJAE" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Muzahid Oly</h5><span class="small text-uppercase text-muted">Full Stack Developer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/muzahid-oly/" class="social-link"><img src = "Images/linkedin.png" width="15" 
                height="15"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/muzahidOly" class="social-link"><img src = "Images/githublogo.png" width="15" 
                height="15"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media.licdn.com/dms/image/C5603AQFbS9SfbTzdxA/profile-displayphoto-shrink_400_400/0/1641259231411?e=1680739200&v=beta&t=OMJV1aan_3JJz91uX1VDerjEhu2j-X4wNILcAdTJWZg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jaberul Haque</h5><span class="small text-uppercase text-muted">Data Scientist</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/jaberul-haque-4948ab229/" class="social-link"><img src = "Images/linkedin.png" width="15" 
                height="15"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/arushwolf" class="social-link"><img src = "Images/githublogo.png" width="15" 
                height="15"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media.licdn.com/dms/image/D5635AQHdQkRR2k_IJQ/profile-framedphoto-shrink_400_400/0/1673970587768?e=1675562400&v=beta&t=rqo9x6KikPhFIz3FoK4RnWnIKAZgxJb7t-odIzOXySk" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Taasin Khan</h5><span class="small text-uppercase text-muted">Software Developer</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/taaseenkhan/" class="social-link"><img src = "Images/linkedin.png" width="15" 
                    height="15"></a></li>
                <li class="list-inline-item"><a href="https://github.com/khantaaseen" class="social-link"><img src = "Images/githublogo.png" width="15" 
                    height="15"></i></a></li>
              
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media.licdn.com/dms/image/C5603AQE0UploSzEknA/profile-displayphoto-shrink_400_400/0/1660584292564?e=1680739200&v=beta&t=HIrABom9MUWny7xklbyes4N2oBBpNB-Ho8EmLDRJmnY" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Nahiyan Chowdhury</h5><span class="small text-uppercase text-muted">Software Developer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/nahiyan-chowdhury-00963b1a8/" class="social-link"><img src = "Images/linkedin.png" width="15" 
                height="15"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/n898c" class="social-link"><img src = "Images/githublogo.png" width="15" 
                height="15"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="aboutus.html">About Us</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">The Cicadas © 2023</p>
    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  
</html>