.msrp {
    padding-left: 50px;
    position: absolute;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
}

.fuelev {
    padding-left: 50px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.production {
    padding-left: 50px;
    padding-bottom: 20px;
    position: absolute;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.tenyears {
    padding-left: 50px;
    position: absolute;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.totalemissions {
    padding-left: 50px;
    position: absolute;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}

.totalcost {
    padding-left: 50px;
    position: absolute;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}